body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-page {
  min-height: 100vh;
  /* vh: viewport height, 100vh means 100% of the viewport height */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  background: #4b001f;
  color: white;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 12px;
}

.nav-btn {
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
}

.login-btn {
  background: white;
  color: #4b001f;
}

.signup-btn {
  background: #d95ce5;
  color: white;
}

.hero-section {
  background: #4b001f;
  color: white;
  text-align: center;
  padding: 100px 20px 140px;
}

.hero-section h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 28px;
  max-width: 850px;
  margin: 0 auto 40px;
}

.search-bar {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.search-bar input {
  width: 70%;
  padding: 20px;
  font-size: 22px;
  border: none;
  border-radius: 40px 0 0 40px;
  outline: none;
}

.search-bar button {
  padding: 20px 30px;
  border: none;
  font-size: 20px;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
}